DATABASE_URL=postgres://user:password@localhost:5432/database

# Optional if DATABASE_URL is not used:
# PGHOST=localhost
# PGPORT=5432
# PGDATABASE=database
# PGUSER=user
# PGPASSWORD=password
# PGSSL=false
